.loader__wraper {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #bebebe;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader {
	position: relative;
	border: 24px solid;
	border-color: #1f1f1f transparent #1f1f1f transparent;
	animation: rotate 2s linear infinite;
}

.loader:before,
.loader:after {
	content: "";
	display: block;
	border: 24px solid transparent;
	border-left-color: #1f1f1f;
	position: absolute;
	left: -24px;
	top: -24px;
	animation: mvx 1s infinite linear;
}

.loader:before {
	border-color: transparent #1f1f1f transparent transparent;
	animation-name: mvrx;
	animation-delay: 0.5s;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg)
	}
}

@keyframes mvx {

	20%,
	80% {
		transform: translateX(0)
	}

	50% {
		transform: translateX(-50%)
	}
}

@keyframes mvrx {

	20%,
	80% {
		transform: translateX(0)
	}

	50% {
		transform: translateX(50%)
	}
}