.catalog {
    position: relative;
    background-color: #EFE3D9;
    padding: 100px 0px 70px 0px;
}

.catalog__title {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translate(-50%, 0px);
    background-color: #D9D9D9;
    padding: 15px;
    border: 1px solid #000;
}

.catalog__container {
    max-width: 1148px;
    margin: 0px auto;
    padding: 150px 0px 0px 0px;
}

.catalog__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 0px 129px 0px;
}

.catalog__row:last-child {
    margin: 0px 0px 0px 0px;
}

.catalog__column {
    flex: 0 1 280px;
    background-color: #E6CDBA;
    border-radius: 10px;
    overflow: hidden;
}

.catalog__item {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.catalog__img {
    width: 100%;
    height: 150px;
}

.catalog__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.catalog__sub_title {
    font-size: 22px;
    margin: 10px 0px;
}

.catalog__text {
    font-size: 20px;
}

.catalog__more {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #000;
    opacity: 0.8;
}

@media (max-width: 1024px) {
    .catalog__row {
        padding: 0px 10px;
        margin: 0px 0px 50px 0px;
    }
}

@media (max-width: 768px) {
    .catalog__title {
        font-size: 22px;
        text-align: center;
    }

    .catalog__column {
        flex: 1 1 auto;
        margin: 0px 0px 50px 0px;
    }

    .catalog__column:last-child {
        margin: 0px 0px 0px 0px;
    }

    .catalog__container {
        padding: 80px 0px 0px 0px;
    }

    .catalog {
        padding: 80px 0px 70px 0px;
    }

    .catalog__title {
        top: 50px;
    }
}