.section {
    padding: 50px 0px 0px 0px;
    width: 100%;
    background-color: #EFE3D9;
}

.section__container {}

.section__row {
    display: flex;
}


.section__column {
    flex: 0 1 50%;
    margin: 0px 30px 0px 0px;
}

.section__column:first-child {
    height: 400px;
    background-color: #fff;
}

.section__info::before {
    margin: 30px 0px 10px 0px;
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(27, 27, 27);
}

/*Load*/
.section__column p {
    width: 100%;
    height: 40px;
    background-color: #e7bb9a;
    margin: 0px 0px 25px 0px;
}

.section__column p:nth-child(2) {
    width: 30%;
}

.section__column p:nth-child(4) {
    width: 70%;
}

.section__column p:nth-child(6) {
    width: 50%;
}

.section__info p {
    width: 100%;
    height: 30px;
    background-color: #e7bb9a;
    margin: 0px 0px 15px 0px;
}