.ticket {
    width: 100%;
}

.ticket__container {
    max-width: 700px;
    padding: 50px 0px 0px 0px;
}

.ticket__body {
    background-color: #ffffff;
    padding: 15px;
}

.ticket__title {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.ticket__row {
    display: flex;
    margin: 10px 0px 0px 0px;
}

.cardTable {
    border-left: 2px solid #afafaf;
    border-right: 2px solid #afafaf;
    border-bottom: 1px solid #afafaf;
    border-top: 2px solid #afafaf;
    position: relative
}

.lis__row {
    display: flex;
    list-style-type: none;
}

.lis__row li {
    flex: 0 0 16.666%;
    text-align: center;
    border-right: 1px solid #afafaf;
    border-bottom: 1px solid #afafaf;
    word-wrap: break-word;
    overflow: hidden;
}

.lis__row li:last-child {
    border-right: 0px solid #afafaf;
}

.cardInfo__row {
    display: flex;
    list-style-type: none;
}

.cardInfo__row li {
    flex: 0 0 16.666%;
    text-align: center;
    border-right: 1px solid #afafaf;
    border-bottom: 1px solid #afafaf;
    word-wrap: break-word;
    overflow: hidden;
}

.cardInfo__row li:last-child {
    border-right: 0px solid #afafaf;
}

.ticket__column {
    flex: 1 1 100%;
    font-size: 16px;
    line-height: 24px;
    margin: 0px 10px 0px 0px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex p {
    margin: 0px 10px 0px 0px;
}

.flex p:last-child {
    margin: 0px 0px 0px 0px;
}

.load {
    max-width: 50px;
    margin: 0px auto;
    height: 50px;
}

.load img {
    max-width: 100%;
}

@media (max-width:425px) {
    .ticket__column {
        font-size: 14px;
        line-height: 18px;

    }

    .lis__row li {
        font-size: 12px;
        line-height: 16px;
    }

    .cardInfo__row li {
        font-size: 12px;
        line-height: 16px;
    }
}