.admin {
    overflow: hidden;
}

.admin__shell {
    padding: 0px 0px 0px 20%;
}

.admin__side-bar {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(0, 80, 80);
    width: 20%;
    height: 100%;
    padding: 20px;
}

.admin__side-bar h1 {
    line-height: 32px;
    color: #eefeff;
    font-weight: 500;
}

.side-bar__list {
    list-style-type: none;
}

.side-bar__list a {
    text-decoration: none;
    font-size: 18px;
    line-height: 32px;
    color: #f8f8f8;
    font-weight: 500;
    transition: all 500ms ease 0s;
}

.side-bar__list a:hover {
    text-decoration: underline;
    color: #00a2ff;

}

.admin__log-out {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 22px;
    padding: 5px;
    color: #fff;
    background-color: red;
    cursor: pointer;
}

.side-bar__list li {}

.admin__content {
    background-color: rgb(49, 48, 46);
    padding: 10px 10px;
    min-height: 100vh;
}

.admin__row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px -10px;
}

.order__column {
    flex: 0 1 25%;
}

.order__item {
    display: block;
    color: #fff;
    background-color: rgb(0, 68, 68);
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 10px;
    text-decoration: none;
}

.order__img {
    width: 100%;
    height: 200px;
}

.order__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.order__body {
    padding: 10px;
}

.order__title {
    font-size: 18px;
    font-weight: 500;
}

.order__date {
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

.order__status {
    display: inline-block;
    border-radius: 10px;
    color: #222;
    background-color: #fff;
    padding: 5px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    margin-right: 10px;
}

.order__price {
    display: inline-block;
    border-radius: 10px;
    color: #ffffff;
    background-color: green;
    padding: 5px;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 50px;
}

.order__prepayment {
    display: inline-block;
    border-radius: 10px;
    color: #222;
    background-color: rgb(172, 172, 172);
    padding: 5px;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 50px;
}

.order__neeed {
    display: inline-block;
    border-radius: 10px;
    color: #ffffff;
    background-color: rgb(156, 0, 0);
    padding: 5px;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 50px;
}

.orders__detaile {
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
}

.orders__number {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

#item p {
    font-size: 22px;
    line-height: 28px;
}

.filter {
    display: flex;
    margin: 15px 0px;
    font-size: 18px;
    color: #ffffff;
}

.card__uid {
    margin: 10px 0px 0px 0px;
}

.order__body.rp .card__uid {
    margin: 0px 0px 0px 0px;
}

.order__body.rp {
    font-size: 18px;
    line-height: 26px;
}