.create__card {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#firstName,
#desctiption,
#cardQuanty,
#price {
    display: block;
    margin: 5px 0px 15px 0px;
    border: 2px solid #ffffff;
    background: #2d3141;
    border-radius: 10px;
    font-size: 18px;
    color: #ffffff;
    padding: 0px 10px;
    width: 391px;
    padding: 10px;
    transition: border 0.5s ease 0s;
}

#imageUrl {
    margin: 10px 10px;
}

.create__card form {
    position: relative;
    background: #2d3141;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#firstName:focus {
    border: 2px solid #7B61FF;
}

#desctiption:focus {
    border: 2px solid #7B61FF;
}

#cardQuanty:focus {
    border: 2px solid #7B61FF;
}

#price:focus {
    border: 2px solid #7B61FF;
}



.create__card label {
    font-size: 16px;
    color: #fff;
    display: block;
    opacity: 0.8;
}

#addBtn {
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    background-color: #7B61FF;
    cursor: pointer;
    transition: background-color 0.5s ease 0s;
}

#addBtn:hover {
    background-color: #5d3ff7;

}

.create__cardFile {
    width: 200px;
    height: 100px;
}

.create__cardFile img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.checkBox p {
    font-size: 18px;
    color: #ffffff;
    margin: 0px 0px 10px 0px;
}

.checkBox label {
    display: inline-block;
}

.checkBox div {
    margin: 0px 0px 10px 0px;
}

.checkBox label {
    font-size: 18px;
    margin: 0px 10px 0px 0px;
    opacity: 1;
}

.checkBox input {
    width: 15px;
    height: 15px;
}

@media (max-width: 768px) {
    .create__card {
        padding: 0px 10px;
    }

    .create__card form {
        width: 100%;
    }

    #firstName,
    #desctiption,
    #cardQuanty,
    #price {
        width: 100%;
    }
}