.header {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    padding: 15px 0px;
    color: #000000;
    z-index: 2;
    box-shadow: 0px 0px 10px #00000093;
}

.header__die {
    display: none;
}

.header__die.active {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}


.header__conatiner {
    max-width: 1200px;
    margin: 0px auto;
    height: 100%;

}

.header__row {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.header__column {
    position: relative;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    font-weight: 500;
}


.header__column a {
    text-decoration: none;
    color: #4d4d4d;
    transition: all 0.5s ease 0s;
}

.header__column span {
    cursor: pointer;
}

.header__column span::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 18px;
    background: url('/r.png')50%/cover no-repeat;
}

.header__column.en span::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 18px;
    background: url('/en.png')50%/cover no-repeat;
}



.headerList {
    display: flex;
    color: #000000;
    list-style-type: none;
}

.headerList li {
    margin: 0px 70px 0px 0px;
}

.headerList a:hover {
    color: #000000;
    transition: all 0.5s ease 0s;
}

.headerList li:last-child {
    margin: 0px 0px 0px 0px;
}

.header__img {
    display: block;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
}

.header__img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.header__lang {
    list-style-type: none;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0;
    background-color: #EFE3D9;
    line-height: 28px;
    opacity: 0;
    padding: 5px;
    visibility: hidden;
    transition: all 0.5s ease 0s;
}

.header__lang li {
    cursor: pointer;
}

.header__lang li:first-child:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 18px;
    background: url('/r.png')50%/cover no-repeat;
}

.header__lang li:last-child:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 18px;
    background: url('/en.png')50%/cover no-repeat;
}

.header__lang.active {
    top: 20px;
    left: 0;
    padding: 5px;
    opacity: 1;
    visibility: visible;
    transition: top 0.5s ease 0s;
}

.header__burger {
    display: none;
}

.icon {
    vertical-align: middle;
}

@media (max-width: 1000px) {
    .header {
        padding: 15px 10px;
    }
}

@media (max-width: 800px) {
    .header__img {
        width: 50px;
        height: 50px;

    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }

    .header__column.remove {
        display: none;
    }

    .header__burger::before,
    .header__burger::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #000000;
        transition: all 0.5s ease 0s;
    }


    .header__burger span {
        position: absolute;
        top: 9px;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #000000;
        transition: all 0.5s ease 0s;
    }


    .header__burger.active::before {
        top: 9px;
        transform: rotate(45deg);
    }

    .header__burger.active::after {
        bottom: 9px;
        transform: rotate(-45deg);
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header {
        padding: 15px 10px;
    }

    .headerList {
        position: fixed;
        right: -100%;
        top: 0;
        flex-direction: column;
        align-items: center;
        line-height: 32px;
        font-size: 24px;
        width: 80%;
        height: 100%;
        background-color: #EFE3D9;
        padding: 70px 0px 0px 0px;
        transition: all 0.5s ease 0s;
    }

    .header__column {
        line-height: 32px;
        font-size: 24px;
    }

    .headerList.active {
        padding: 70px 0px 0px 0px;
        right: 0;
        top: 0px;
    }

    .headerList li {
        margin: 0px 0px 0px 0px;
    }

    .header__lang.active {
        top: 27px;
    }
}