#name,
#email,
#phone,
#pass {
    display: block;
    margin: 10px 0 0 0;
    border: 1px solid rgba(171, 171, 171, 0.41);
    background: none rgb(252, 252, 252);
    border-radius: 20px;
    font-size: 18px;
    color: rgb(73, 73, 73);
    padding: 0px 10px;
    width: 391px;
    padding: 10px;
}

.main__header {
    max-width: 1000px;
    margin: 0px auto;
}

.login {
    background: linear-gradient(45deg, rgb(10, 214, 255) 0%, rgb(23, 153, 252) 50%, rgb(90, 61, 148) 100%);
}

.login.acttion {
    background: linear-gradient(45deg, rgb(0, 35, 43) 0%, rgb(0, 25, 44) 50%, rgb(22, 0, 66) 100%);
}

.login,
.registration {
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    padding: 10px;
    border-radius: 15px;
    margin: 20px 0px 20px 0px;
}

.registration {
    background: linear-gradient(45deg, rgb(10, 214, 255) 0%, rgb(23, 153, 252) 50%, rgb(90, 61, 148) 100%);
}



.main__row {
    display: flex;
    justify-content: space-between
}

.main__auth {
    margin: 20px 0px 0px 0px;
}

.form__auth label {
    display: inline-block;
    font-size: 22px;
    line-height: 24px;
    color: #000;
    margin: 15px 0px 0px 0px;
}

.main__container {
    max-width: 1000px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 30px 0;
    background: -webkit-linear-gradient(top, rgba(65, 0, 230, 0.34) 0%, rgba(23, 153, 252, 0.39) 50%, rgba(207, 207, 207, 0.46) 100%);
}


.form__auth button {
    margin: 30px 0px 0px 0px;
    width: 100%;
    padding: 10px;
    background: -webkit-linear-gradient(top, rgb(10, 214, 255) 0%, rgb(90, 61, 148) 100%);
    border-radius: 20px;
    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
    transition: all 0.5s ease 0s;
    cursor: pointer;
}