.error {
    position: fixed;
    left: 50%;
    top: 50px;
    transform: translate(-50%, 0px);
    z-index: 3;
    background-color: red;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    font-size: 18px;
    transition: all 0.5s ease 0s;
    opacity: 0;
    visibility: hidden;
}

.error.active {
    top: 80px;
    opacity: 1;
    visibility: visible;
}

.loaded {
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translate(-50%, 0px);
    z-index: 3;
    background-color: green;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    font-size: 18px;
    transition: all 0.5s ease 0s;
    opacity: 0;
    visibility: hidden;
}

.loaded.active {
    top: 80px;
    opacity: 1;
    visibility: visible;
}


.error__item {}

.user__position {
    padding: 150px 0px 0px 0px;
    background-color: #EFE3D9;
}

.user__position_container {
    max-width: 1000px;
    margin: 0px auto;
}

.user__position_pos {
    font-size: 16px;
    line-height: 24px;
    margin: 0px 0px 15px 0px;
}

.user__pos_icon {
    font-size: 18px;
    color: black;
}

.user__position_title {}

@media (max-width:1000px) {
    .user__position_container {
        padding: 0px 10px;
    }

    .user__position {
        padding: 110px 0px 0px 0px;
        background-color: #EFE3D9;
    }
}